.header {
    border-bottom: 1px solid #f5f5f5;
}
.login-form {
    margin: 100px auto;
    width: 400px;
    padding: 20px 50px 50px 50px;
    background: #f5f5f5;
    border-radius: 10px;
}

.login-heading {
    padding: 50px 40px 0px 0px;
    color:#6a6866;
}
.pa-10 {
    padding: 10px;
}
.mr-10 {
    margin-right: 10px;
}

.w-100 {
    width: 100%;
}

.gray-input {
    border: 1px solid #dadada;
}